<style>
    body {
        font-family: sans-serif;
		margin: 20px;
    }
    h1  {
        color: rgb(24, 24, 121);
        font-style: italic;
        font-size: 200%;
        border: 2px solid red;
		padding: 5px;
		width: 200px;
    }
    h2 {
        color: blue;
        font-size: 125%;
    }
</style>
<h1>inShape</h1>
<h2>Workout</h2>
<ul>
    <li><a href="{% url 'workout' 1 %}"> Strength Workout</a></li>
    <li><a href="{% url 'workout' 2 %}"> Biking Workout</a> </li>
    <li><a href="{% url 'workout' 3 %}"> Climbing Workout</a> </li>
</ul>
<h2>Recent Workouts</h2>
{% if workout_list %}
    <ul>
        {% for workout in workout_list %}
            <li>{{ workout.workout_date }} {{workout.notes }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h2>Routines</h2>
{% if routine_list %}
    <ul>
    {% for routine in routine_list %}
        <li><a href="{% url 'routine' routine.id %}">{{ routine.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No routines available.</p>
{% endif %}

